@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc; /* Slate 50 */
  --foreground: #0f172a; /* Slate 900 */
}

.dark {
  --background: #09090b; /* Zinc 950 */
  --foreground: #f4f4f5; /* Zinc 100 */
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
